.facebook-img {
	background: url('/logos/sheet.png') no-repeat -5px -5px;
	width: 64px;
	height: 64px;
}

.github-img {
	background: url('/logos/sheet.png') no-repeat -79px -5px;
	width: 64px;
	height: 64px;
}

.googleplus-img {
	background: url('/logos/sheet.png') no-repeat -153px -5px;
	width: 64px;
	height: 64px;
}

.linkedin-img {
	background: url('/logos/sheet.png') no-repeat -227px -5px;
	width: 64px;
	height: 64px;
}

.musescore-img {
	background: url('/logos/sheet.png') no-repeat -5px -79px;
	width: 64px;
	height: 64px;
}

.soundcloud-img {
	background: url('/logos/sheet.png') no-repeat -79px -79px;
	width: 64px;
	height: 64px;
}

.steam-img {
	background: url('/logos/sheet.png') no-repeat -153px -79px;
	width: 64px;
	height: 64px;
}

.twitter-img {
	background: url('/logos/sheet.png') no-repeat -227px -85px;
	width: 64px;
	height: 52px;
}