body {
    background-color: #EEE;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

.banner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title {
    background-color: #222;
    color: white;
    height: 100px;
}

nav {
    background-color: #333;
}

nav a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    transition: background-color 1s;
}

nav li.current-page {
    background-color: #222;
}

nav li:hover {
    background-color: #222;
    transition: background-color 1s;
}

h1 {
    font-size: 2.5em;
}

h1 a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

.main-content {
    margin-left: 5%;
}

.main-content article {
    margin-top: 5%;
}

.main-content p {
    margin-left: 1%;
}


.social-networks {
    display: table;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-networks li {
    display: table-row;
    list-style-type: none;
    height: 80px;
}

.social-networks .site-image,
.social-networks .site-name {
    display: table-cell;
    vertical-align: middle;
}

.social-networks .site-image {
    padding-right: 15px;
    background-color: inherit;
}

.social-networks a {
    text-decoration: none;
    color: inherit;
}

.social-networks a:clicked {
    color: inherit;
}

.social-networks a:hover {
    color: grey;
}