<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} | {% endif %} Joshua O'Leary</title>
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="/css/music.css" rel="stylesheet" type="text/css">
    <link href="/css/socialnetworks-spritesheet.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="banner title">
        <h1><a href="/index.html">Joshua O'Leary</a></h1>
    </div>
    <nav class="banner">
        <ul>
            {% for node in site.pages %}
                {% if node.url != '/index.html' %}
                    {% if page.url == node.url %}
                        <li class="current-page"><a href="{{node.url}}">{{node.title}}</a></li>
                    {% else %}
                        <li><a href="{{node.url}}">{{node.title}}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <div class="main-content">

        {{ content }}

    </div>
</body>
</html>
